/*================================
  CONTAINER
==================================*/
.container {
  background-color: #031b34;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 48px;
  width: 100%;
  box-sizing: border-box;
}

/* Modificadores de Layout */
.container--horizontal {
  flex-direction: row;
}

.container--vertical {
  flex-direction: column;
  align-items: center;
}

/*================================
  ITEM
==================================*/

.item {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  min-width: 220px;
}

/*================================
  ICON WRAPPER
==================================*/

.iconWrapper {
  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;

  border-radius: 16px;

  background: rgba(6, 52, 46, 0.85);

  border: 1px solid rgba(34, 197, 94, 0.18);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03),
    0 0 0 1px rgba(0, 0, 0, 0.08);
}

/*================================
  ICON
==================================*/
.icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
  flex-shrink: 0;
  opacity: 1;
  /* Mantém o ícone branco */
  /* filter: brightness(0) invert(1); */
  filter: brightness(0) saturate(100%) invert(62%) sepia(67%) saturate(674%)
    hue-rotate(91deg) brightness(96%) contrast(90%);
}

/*================================
  TITLE
==================================*/
.mainText {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 10px;
}

/*================================
SUBTITLE
==================================*/
.subText {
  color: #7d8da6;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.7;
  margin: 0;
  max-width: 280px;
}
.subText::first-letter {
  text-transform: capitalize;
}

/*================================
  TABLET
==================================*/
@media(max-width: 1024px) {
  .container{
    align-items: center;
    justify-content: center;
    padding: 48px 32px;
  }
}

/*================================
  MOBILE
==================================*/
@media(max-width: 640px) {
  .container{
    flex-direction: column;
    gap: 48px;
    padding: 40px 24px;
  }
  .item{
    width: 100%;
  }
  .mainText{
    font-size: 17px
  }
  .subText{
    font-size: 14px;
  }
}
